extends layout

block content
  h1= title
  p Welcome to the QuotaGuard Demo on Windows Azure
  p Code can be found on 
   a(href="https://github.com/teachmatic/quotaguard-azure-node-demo") Github

  h2 QuotaGuard demo
  p This demo makes a request through our dynamic proxy. The proxy is randomly selected by our load balancer so the IP returned will change every time you refresh the page.
  p View demo output from using QuotaGuard
  p 
   a(href="/quotaguard") View QuotaGuard Demo page

  h2 QuotaGuard Static demo
  p This demo makes a request through our Static IP service. For load balancing and high availability you are provisioned with 2 Static IP addresses with every QuotaGuard Static plan so the IP addresses you see will be one of two Static IP addresses used by our demo account.
  p
   a(href="/quotaguardstatic") View QuotaGuard Static Demo page 