doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer
    h2 More Details
    p For more details and to sign-up for a free trial go to 
     a(href="https://www.quotaguard.com") QuotaGuard.com.
